---
import Search from "../../../public/icons/Search.astro";
---
<section class="container p-8 lg:md:sm:mx-auto">
    <div class="filter flex flex-wrap gap-3 mb-8">
        <div class="relative">
            <input type="text" class="search__input px-3 py-3" placeholder="Stadt suchen">
            <button class="search__button absolute top-0 bottom-0 right-4 m-0 p-0">
          <Search/>
        </button>
        </div>
    
        <button class="button --active text-sm font-semibold px-5 py-3 text-black">Proyectos</button>
        <button class="button text-sm font-semibold px-5 py-3 text-black">Web</button>
        <button class="button text-sm font-semibold px-5 py-3 text-black">Videojuegos</button>
        <button class="button text-sm font-semibold px-5 py-3 text-black">Clones</button>
    </div>
    
    <section class="grid">
    
        <!-- PROYECTOS -->
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://calculadora-dark-mode.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/calculadora.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Calculadora</h3>
                <p class="card__description">
                    Realiza operaciones matemáticas, con la opción de alternar entre un tema oscuro y uno claro para mejorar la visualización según las preferencias del usuario o las condiciones de iluminación.
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://encrypt-julio-cesar.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/criptoI.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Encriptación I</h3>
                <p class="card__description">
                    Encriptación mediante la técnica de Julio César implementa un cifrado clásico en el que cada letra de un texto se desplaza un número fijo de posiciones en el alfabeto.            </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://encrypt-enigma.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/criptoII.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Encriptación I</h3>
                <p class="card__description">
                    Encriptación utilizando la técnica de Enigma replica el complejo sistema de cifrado electromecánico usado durante la Segunda Guerra Mundial. 
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://vue-yes-or-no.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/questionYesNo.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Vue</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Question Yes/No I</h3>
                <p class="card__description">
                    Encriptación utilizando la técnica de Enigma replica el complejo sistema de cifrado electromecánico usado durante la Segunda Guerra Mundial. 
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://vue-guess-pokemons.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/questionPokemon.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Vue</h5>
              </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Question Pokemon</h3>
                <p class="card__description">
                    proyecto de adivinanza de Pokémon basado en opciones es un juego interactivo en el que los usuarios intentan identificar un Pokémon a partir de la imagen sombreada        
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://flowers-yellow.vercel.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/flowers-yellow.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Astro</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Flowers Yellow</h3>
                <p class="card__description">
                    La web sirve tanto como un regalo o una obra de arte digital
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[40vh] h-min" href="https://sistema-de-registro-de-inventario.netlify.app/dashboard.html" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/proyectos/sri.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Bootstrap</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Awesome</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Vue</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Proyectos</p>
                <h3 class="card__title">Registro inventario</h3>
                <p class="card__description">
                    La web sirve tanto como un regalo o una obra de arte digital
            </div>
        </a>
    
        <!-- WEB -->
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://propuesta-web-1.vercel.app/nosotros" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/anka.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Tailwind</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Jquery</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Astro</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Anka </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://emilima.com.pe/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/emilima.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Php</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Bootstrap</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Swiper.js</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Awesome</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Emilima </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://christiandesignphotography.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/photographer.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Animate.js</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Awesome</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Photographer </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://landingpage-cocina.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/coffe.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Cafeteria </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://web-adopcion.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/adopcion.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Adopción </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://huayramistika.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/huayra.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Huayramistika </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://clinica-veterinaria-landing.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/clinica.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Bootstrap</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Awesome</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Clínica veterinaria </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://landing-travel.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/viajes.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Bootstrap</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Swiper.js</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Awesome</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Viajes </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://resto-bar.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/restobar.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Tailwind</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Astro</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Web</p>
                <h3 class="card__title">Resto Bar </h3>
                <p class="card__description">
                QASD
                </p>
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://page-error-404-replication.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/web/404.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Bootstrap</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-2">Web</p>
                <h3 class="card__title">Page 404</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
    
        </a>
    
        <!-- Videojuegos -->
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://unity-space-game.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/videojuegos/naveUnity.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Unity</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Videojuegos</p>
                <h3 class="card__title">Naves</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://unity-space-game.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/videojuegos/naves.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Phaser.js</h5>
                </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Videojuegos</p>
                <h3 class="card__title">Naves</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://dino-game-kappa.vercel.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/videojuegos/dino.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Phaser.js</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Videojuegos</p>
                <h3 class="card__title">Dino</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
        </a>
    
        <!-- Clones -->
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://clone-tesla-web.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/clones/tesla.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Tailwind</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Astro</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Clones</p>
                <h3 class="card__title">Web Tesla</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
        </a>
    
        <a class="card flex flex-col overflow-hidden relative w-[45vh] h-min" href="https://clone-tesla-web.netlify.app/" target="_blank" rel="nofollow noopener">
            <picture class="card__picture block w-full h-[335px] overflow-hidden relative">
                <img class="card__image w-full h-full object-cover" src="/img/clones/ibai.png" alt="Menschen, die tagsüber neben dem weißen und braunen Kuppelgebäude spazieren gehen" title="Foto von Claudio Hirschberger auf Unsplash">
                <div class="tags absolute top-[83%] left-0 text-right w-full transition-opacity duration-300 flex flex-wrap items-center justify-start gap-1 px-2">
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Html</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Css</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Tailwind</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">JavaScript</h5>
                    <h5 class="inline-block border-2 border-white/40 rounded-xl bg-white/40 m-0 mx-1.5 px-1.5 mb-0.5">Astro</h5>
                  </div>
            </picture>
            <span class="card__more relative h-12 w-12 inline-flex self-end items-center justify-center"></span>
            <div class="my-8 px-2 relative">
                <p class="card__location tagName uppercase text-sm flex items-center gap-1">Clones</p>
                <h3 class="card__title">Web Ibai</h3>
                <p class="card__description">
                    Esta página informa al usuario que la página solicitada no se encuentra disponible y suele incluir un mensaje de error, junto con enlaces para regresar a la página principal o explorar otras secciones del sitio.
            </div>
        </a>
    
    </section>

</section>

<style>
.search__input {
    border: 1px solid #b245ff;
    color: #0f0617;
    border-radius: 2rem;
}

.search__button {
    color: #b245ff;
    background: transparent;
    border: 0;
}

.button {
    border-radius: 2rem;
    border: 2px solid #b245ff;
    background: transparent;
}

.button.--active {
    border-color: #b245ff;
    background: #b245ff;
    color: #ffffff;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 1.4px 2.7px 3.6px rgba(178, 169, 169, 0.017), 3.8px 7.5px 10px rgba(178, 169, 169, 0.025), 9px 18.1px 24.1px rgba(178, 169, 169, 0.033), 30px 60px 80px rgba(178, 169, 169, 0.05);
    color: #0f0617;
    text-decoration: none;
    transition: all 0.25s;
}

.card__picture {
    aspect-ratio: 1 / 1;
    transition: background 0.25s;
}

.card__picture:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(15, 6, 23, 0) 25%, rgba(15, 6, 23, 0));
    z-index: 1;
}

.card__image {
    transition: transform 0.25s;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card__more {
    margin: -1.5rem 1.5rem -1.5rem 0;
    border-radius: 50%;
    background: #fac384;
    color: #ffffff;
    transition: background-color 0.25s;
    z-index: 2;
}

.card__more:after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
}

.card__location {
    color: #b245ff;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.card__location:before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.75rem;
}

.card.--inactive {
    display: none;
}

.card:hover {
    box-shadow: 1.8px 3.7px 3.6px rgba(178, 169, 169, 0.052), 5px 10.1px 10px rgba(178, 169, 169, 0.075), 12.1px 24.4px 24.1px rgba(178, 169, 169, 0.098), 40px 81px 80px rgba(178, 169, 169, 0.15);
}

.card:hover .card__picture:after {
    background: linear-gradient(rgba(178, 69, 255, 0) 25%, rgba(178, 69, 255, 0.5));
}

.card:hover .card__image {
    transform: scale(1.1);
}

.card:hover .card__more {
    background: #b245ff;
}



@media (min-width: 992px) {
    .card__more {
        margin: -2rem 1.5rem -2rem 0;
    }
    .card__more:after {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

}

</style>

<script>
const buttons = document.querySelectorAll(".button");
const search = document.querySelector(".search__input") as HTMLInputElement | null;
const grid = document.querySelector(".grid");
if (!grid) {
    throw new Error('El contenedor grid no fue encontrado.');
}
const gridItems = Array.from(grid.querySelectorAll(".card"));

buttons.forEach((button) => {
	button.addEventListener("click", function () {
		buttons.forEach((item) => {
			item.classList.remove("--active");
			item.setAttribute("aria-pressed", "false");
		});

		button.classList.add("--active");
		button.setAttribute("aria-pressed", "true");

		const location = button.textContent ? button.textContent.toLowerCase() : '';
		const filteredItems = gridItems.filter(
			(item) =>
				item.querySelector(".tagName")?.textContent?.toLowerCase() === location
		);

		if (location === "alle") {
			gridItems.forEach((item) => item.classList.remove("--inactive"));
			return;
		}

		gridItems.forEach((item) => item.classList.add("--inactive"));
		filteredItems.forEach((item) => item.classList.remove("--inactive"));
	});
});

if (search) {
    search.addEventListener("input", function () {
        const searchText = search.value.toLowerCase();
        gridItems.forEach((item) => {
            const city = item.querySelector(".card__title")?.textContent?.toLowerCase() || '';
            if (!city.includes(searchText)) {
                item.classList.add("--inactive");
            } else {
                item.classList.remove("--inactive");
            }
        });
    });
} else {
    throw new Error('El elemento de búsqueda no fue encontrado.');
}


</script>