---
import About from "../About.astro";
import Skills from "../Skills/Skills.astro";
import TimeLine from "../TimeLine.astro";
import TabItem from "./TabItem.astro";
import TabItemContent from "./TabItemContent.astro";
import Projects from "../Projects/Project.astro";
import Contact from "../Contact.astro";
import { Image } from "astro:assets";
import imgWebp from "../../../public/img.webp";
import GitHub from "../../../public/socialMedia/GitHub.astro";
import GitLab from "../../../public/socialMedia/GitLab.astro";
import Linkdedin from "../../../public/socialMedia/Linkdedin.astro";
import Email from "../../../public/socialMedia/Email.astro";
---

<section class="tabs">
  <header class="tab-buttons h-screen">
    <div class="hidden lg:md:sm:flex flex-col justify-center items-center mb-10">
      <Image
      src={imgWebp}
      alt="asd"
      width="400"
      height="400"
      class="rounded-full w-48 h-w-60"
      loading="eager"
      draggable="false"
    />
      <h3 class="text-center text-2xl mb-3 text-slate-300">Junior Pezantes</h3>
    </div>
    <TabItem dataTab="1" Item="Inicio" styleName="" />
    <TabItem dataTab="2" Item="Experiencia" />
    <TabItem dataTab="3" Item="Skills" />
    <TabItem dataTab="4" Item="Proyectos" />
    <TabItem dataTab="5" Item="Contacto" />

    <div class="flex justify-start lg:md:sm:justify-center items-center mt-auto flex-wrap gap-3">
      <GitHub currentColor="none" stroke="#f8fafc" styleName="width: 25px;" ref="https://github.com/Jp-dsouls"/>
      <GitLab currentColor="none" stroke="#f8fafc" styleName="width: 25px;" ref="https://gitlab.com/werras04"/>
      <Linkdedin currentColor="none" stroke="#f8fafc" styleName="width: 25px;" ref="https://www.linkedin.com/in/cesar-junior-pezantes-silva-1047551a1/"/>
      <Email currentColor="none" stroke="#f8fafc" styleName="width: 25px;" ref="mailto:werras04@gmail.com"/>
    </div>
  </header>
  <div class="tab-contents">
    <!-- Inicio -->
    <TabItemContent dataTab="1" class="overflow-y-hidden">
      <About />
    </TabItemContent>
    <!-- Experiencia -->
    <TabItemContent dataTab="2">
      <TimeLine />
    </TabItemContent>
    <!-- Skills -->
    <TabItemContent dataTab="3">
      <Skills />
    </TabItemContent>
    <!-- Proyectos -->
    <TabItemContent dataTab="4" class="overflow-y-auto">
      <Projects />
    </TabItemContent>
    <!-- Contacto -->
    <TabItemContent dataTab="5" class="overflow-y-auto">
      <Contact />
    </TabItemContent>
  </div>
</section>

<style>
  .tabs {
    display: flex;
  }
  .tab-buttons {
    display: flex;
    flex-direction: column;
    width: 15%;
    position: sticky;
    top: 0;
    background-color: #0d1117;
    padding: 1rem;
  }
  .tab-contents {
    width: 85%;
    color: #e2e8f0;
    height: 100%;
  }
  @media screen and (max-width: 768px) {
    .tabs {
      flex-direction: column;
    }
    .tab-buttons {
      width: 100%;
      height: auto;
      background-color: rgba(1, 4, 9, 0.75);
      backdrop-filter: blur(8px);
    }
    .tab-contents {
      width: 100%;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll(".tab-button");
    const tabContents = document.querySelectorAll(".tab-content");
    const tabButtonsContainer = document.querySelector(".tab-buttons");

    // Verifica si los elementos existen antes de proceder
    if (
      tabButtons.length > 0 &&
      tabContents.length > 0 &&
      tabButtonsContainer
    ) {
      tabButtons.forEach((button) => {
        button.addEventListener("click", function (this: HTMLElement) {
          const tab = this.getAttribute("data-tab");

          tabButtons.forEach((btn) => btn.classList.remove("active"));
          tabContents.forEach((content) => content.classList.remove("active"));

          this.classList.add("active");
          const contentElement = document.querySelector(
            `.tab-content[data-tab="${tab}"]`
          );
          if (contentElement) {
            contentElement.classList.add("active");
          }
          const tabContentsContainer = document.querySelector(".tab-contents");
          if (tabContentsContainer) {
            tabContentsContainer.scrollTo({ top: 0, behavior: "smooth" });
          }
        });
      });

      tabButtons[0].classList.add("active");
      tabContents[0].classList.add("active");
    }
  });
</script>
