---
import Html from "../../../public/skills/Html.astro";
import Css from "../../../public/skills/Css.astro";
import Js from "../../../public/skills/Js.astro";
import AstroLogo from "../../../public/skills/AstroLogo.astro";
import React from "../../../public/skills/React.astro";
import Vue from "../../../public/skills/Vue.astro";
import Jquery from "../../../public/skills/Jquery.astro";
import Boostrap from "../../../public/skills/Boostrap.astro";
import Tailwind from "../../../public/skills/Tailwind.astro";
import Laravel from "../../../public/skills/Laravel.astro";
import Php from "../../../public/skills/Php.astro";
import VsCode from "../../../public/skills/VsCode.astro";
import Vs from "../../../public/skills/Vs.astro";
import Git from "../../../public/skills/Git.astro";
import GitHub from "../../../public/skills/GitHub.astro";
import GitLab from "../../../public/skills/GitLab.astro";
import Npm from "../../../public/skills/Npm.astro";
import Yarn from "../../../public/skills/Yarn.astro";
import Postman from "../../../public/skills/Postman.astro";
import Figma from "../../../public/skills/Figma.astro";
import Xampp from "../../../public/skills/Xampp.astro";
import Vite from "../../../public/skills/Vite.astro";
import MySQL from "../../../public/skills/MySQL.astro";
import Vercel from "../../../public/skills/Vercel.astro";
import Netlify from "../../../public/skills/Netlify.astro";
import MongoDB from "../../../public/skills/MongoDB.astro";
import PhpStorm from "../../../public/skills/PhpStorm.astro";
import Deno from "../../../public/skills/Deno.astro";

import SkillItem from "../Skills/SkillItem.astro";

---
<section class="container p-8 lg:md:sm:mx-auto">
  <table>
    <tr>
      <th class="w-1/12"> Frontend </th>
      <th class="w-11/12 flex flex-wrap gap-4">
        <SkillItem>
          <Html />
        </SkillItem>
  
        <SkillItem>
          <Css />
        </SkillItem>
  
        <SkillItem>
          <Js />
        </SkillItem>
  
        <SkillItem>
          <Jquery />
        </SkillItem>
  
        <SkillItem>
          <AstroLogo />
        </SkillItem>
  
        <SkillItem>
          <Vue />
        </SkillItem>
  
        <SkillItem>
          <React />
        </SkillItem>
        
        <SkillItem>
          <Boostrap />
        </SkillItem>
  
        <SkillItem>
          <Tailwind />
        </SkillItem>
  
      </th>
    </tr>
    <tr>
      <th class="w-1/12">Backend</th>
      <th class="w-11/12 flex flex-wrap gap-4"> 
  
        <SkillItem>
          <Laravel />
        </SkillItem>
  
        <SkillItem>
          <Php />
        </SkillItem>
  
        <SkillItem>
          <Deno />
        </SkillItem>
      
      </th>
    </tr>
    <tr>
      <th class="w-1/12">Base de datos</th>
      <th class="w-11/12 flex flex-wrap gap-4"> 
  
        <SkillItem>
          <MySQL />
        </SkillItem>
  
        <SkillItem>
          <MongoDB />
        </SkillItem>
      
      </th>
    </tr>
  
    <tr>
      <th class="w-1/12">Despliegue</th>
      <th class="w-11/12 flex flex-wrap gap-4"> 
  
        <SkillItem>
          <Vercel />
        </SkillItem>
  
        <SkillItem>
          <Netlify />
        </SkillItem>
      
      </th>
    </tr>
    <tr>
      <th class="w-1/12">Tools</th>
      <th class="w-11/12 flex flex-wrap gap-4"> 
        
        <SkillItem>
          <VsCode />
        </SkillItem>
  
        <SkillItem>
          <Vs />
        </SkillItem>
  
        <SkillItem>
          <PhpStorm />
        </SkillItem>
  
        <SkillItem>
          <Git />
        </SkillItem>
  
        <SkillItem>
          <GitHub />
        </SkillItem>
        
        <SkillItem>
          <GitLab />
        </SkillItem>
  
        <SkillItem>
          <Npm />
        </SkillItem>
  
        <SkillItem>
          <Yarn />
        </SkillItem>
        <SkillItem>
          <Postman />
        </SkillItem>
        <SkillItem>
          <Figma />
        </SkillItem>
        <SkillItem>
          <Xampp />
        </SkillItem>
        <SkillItem>
          <Vite />
        </SkillItem>
      </th>
    </tr>
  </table>
</section>
