---
import { Image } from "astro:assets";
import imgWebp from "../../public/img.webp";
---

<section class="container mx-auto p-8">
  <div class="flex items-center justify-center mx-0 lg:md:sm:mx-auto self-center mt-[15%]">
    <div class="w-full lg:md:sm:w-1/2">
      <h2 class="text-5xl lg:md:sm:text-7xl mb-3 text-slate-50 uppercase font-bold">Junior Pezantes</h2>
      <h3 class="typing text-xl lg:md:sm:text-2xl mb-3 text-slate-100">
        Ingeniero de software & desarrollador fullstack
      </h3>
      <p class="mb-5 text-slate-200">
        Diseño y desarrollo servicios para clientes de todos los tamaños,
        especializándome en la creación de sitios web, servicios web y tiendas
        en línea modernos y elegantes.
      </p>
      <a
        class="px-4 py-2 bg-slate-500 rounded-sm"
        target="_blank"
        href="../../public/CV/cv.pdf">Descargar CV</a
      >
    </div>
    <div class="hidden w-full lg:md:sm:flex items-center justify-center lg:md:sm:w-1/2">
      <Image
        src={imgWebp}
        alt="asd"
        width="400"
        height="400"
        class="rounded-full w-72 h-72"
        loading="eager"
        draggable="false"
      />
    </div>
  </div>
</section>

<style>
  .typing::after {
    content: '|';
    position: relative;
    right: 5px;
    bottom: 2px;
    animation: blink 1s step-end infinite;
}
  @keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: rgb(255, 255, 255);
    }
}
</style>