<section class="container mx-auto">
  <ul class="timeline">
    <li class="timeline">
      <div class="icon done"></div>
      <details class="panel">
        <summary class="flex flex-wrap justify-between" style="display: flex;">
          <span class="bg-red">INVERSIONES Y SERVICIOS JOLG S.A.C </span>
          <p>ene. 2023 – feb. 2023</p>
        </summary>
        <p class="p-0">
          Desarrollador Fullstack –
          <strong> “Proyecto – Ojo celeste”</strong>
          <ul class="list-disc p-5">
            Empresa Inversiones y Servicios Jolg
            <li class="pl-5"> Construcción de nuevas interfaces en blade </li>
            <li class="pl-5"> Diseño de nuevas relaciones en laravel 8 </li>
            <li class="pl-5"> Actualizaciones en el Api rest </li>
          </ul>
        </p>
      </details>
    </li>

    <li class="timeline">
      <div class="icon done"></div>
      <details class="panel">
        <summary class="flex flex-wrap justify-between" style="display: flex;">
          <span class="bg-red">EMILIMA S.A</span>
          <p>jul. 2022 – oct. 2022</p>
        </summary>
        <p class="p-0">
          Analista programador –
          <strong> “Proyecto – MultiPage Emilima”</strong>
          <ul class="list-disc p-5">
            Empresa Inversiones y Servicios Jolg
            <li class="pl-5"> Construcción de nueva vista para el ISO 37001 </li>
            <li class="pl-5"> Construcción de la sección ISO 37001 en el gestor de contenido </li>
            <li class="pl-5"> Carga de información de los documentos en regla </li>
          </ul>
        </p>
        <p class="p-0">
          Analista programador –
          <strong> “Proyecto – Parking PDE”</strong>
          <ul class="list-disc p-5">
            Empresa Inversiones y Servicios Jolg
            <li class="pl-5"> Actualizaciones en el api rest </li>
            <li class="pl-5"> Construcción del api rest en Node.js </li>
            <li class="pl-5"> Construcción de nuevas funcionalidades de control de ticket rápido </li>
            <li class="pl-5">Construcción de nuevo perfil de usuario </li>
          </ul>
        </p>
        <p class="p-0">
          Analista programador –
          <strong> “Proyecto – HelpDesk”</strong>
          <ul class="list-disc p-5">
            Empresa Inversiones y Servicios Jolg
            <li class="pl-5"> Construcción de las nuevas interfaces </li>
            <li class="pl-5"> Integración con el api rest </li>
          </ul>
        </p>
      </details>
    </li>

    <li class="timeline">
      <div class="icon done"></div>
      <details class="panel">
        <summary class="flex flex-wrap justify-between" style="display: flex;">
          <span class="bg-red">PISCO TECHNOLOGIES </span>
          <p>feb. 2021 – jun. 2022</p>
        </summary>
        <p class="p-0">
          Desarrollador Fullstack MERN –
          <strong> “Proyecto Circuito Mágico (CMA)” </strong>
          <ul class="list-disc p-5">
            <li class="pl-5"> Diseño de la arquitectura para la solución </li>
            <li class="pl-5"> Integración del api rest en Node.js </li>
            <li class="pl-5"> Construcción de interfaces en React.js y Next.js </li>
            <li class="pl-5"> Construcción del app administrador en React.js </li>
            <li class="pl-5"> Construcción de la web MultiPage en Next.js </li>
            <li class="pl-5"> Integración con el api rest construido </li>
          </ul>
        </p>
        <p class="p-0">
          Desarrollador Frontend –
          <strong> “Proyecto – Entradas Lima” </strong>
          <ul class="list-disc p-5">
            <li class="pl-5"> Construcción de nuevas interfaces web con Vue.js </li>
            <li class="pl-5"> Integración con el api rest </li>
          </ul>
        </p>
        <p class="p-0">
          Desarrollador Web –
          <strong> “Proyecto – MultiPage Emilima” </strong>
          <ul class="list-disc p-5">
            <li class="pl-5"> Construcción de la arquitectura Frontend </li>
            <li class="pl-5"> Construcción de las interfaces web con HTML, Css3 y Javascript </li>
            <li class="pl-5"> Construcción de un administrador para el sitio web con Vue.js </li>
            <li class="pl-5"> Construcción del api rest en laravel </li>
            <li class="pl-5"> Integración del api rest construido </li>
          </ul>
        </p>
        <p class="p-0">
          Desarrollador Fullstack PHP –
          <strong> “Proyecto – Compromisos con la ciudad MML” </strong>
          <ul class="list-disc p-5">
            <li class="pl-5"> Construcción del api rest en PHP </li>
            <li class="pl-5"> Construcción de la arquitectura Frontend </li>
            <li class="pl-5"> Construcción de las interfaces web HTML, Css3 y Javascript </li>
            <li class="pl-5"> Construcción de un administrador para el sitio web con React.js </li>
            <li class="pl-5"> Integración con el api rest </li>
          </ul>
        </p>
      </details>
    </li>

    <li class="timeline">
      <div class="icon done"></div>
      <details class="panel">
        <summary class="flex flex-wrap justify-between" style="display: flex;">
          <span class="bg-red">EN VIVO ENTRETAINMENT E.I.R.L </span>
          <p>ene. 2020 – ene. 2020</p>
        </summary>
        <p class="p-0">
          Asistente Logístico -
          <strong> “Gaming House Mall del Sur”</strong>
          <ul class="list-disc p-5">
            <li class="pl-5"> Apoyo en seguimiento de los movimientos de mercancía desde los
              proveedores hasta su destino final </li>
            <li class="pl-5"> Organización de entrada y salida de materiales de los diferentes
              departamentos </li>
            <li class="pl-5"> Atención al cliente resolviendo incidencias o dudas relacionadas con la
              logística </li>
          </ul>
        </p>
      </details>
    </li>

  </ul>
</section>
<style>
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 3px;
    background-color: #d9d9d9;
    margin-left: -1.5px;
    left: 20px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 55px;
  }
  .timeline > li:after,
  .timeline > li:after {
    content: "";
    display: table;
    clear: both;
  }
  .timeline > li .panel {
    width: 100%;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 1px 2px 80px 0 rgba(0, 0, 0, 0.1);
  }
  .timeline > li .panel summary {
    display: block;
    user-select: none;
    outline: none;
    padding: 15px;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: margin, background;
    font-weight: 600;
  }
  .timeline > li .panel summary::-webkit-details-marker {
    display: none;
  }
  .timeline > li .panel summary:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .timeline > li .panel[open] summary {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .timeline > li > .icon {
    color: #d9d9d9;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    left: 20px;
    margin-left: -25px;
    background-color: #fafafa;
    z-index: 999;
    border-radius: 50%;
    font-family: Font Awesome\5 Free;
  }
  .timeline > li > .icon:before {
    content: "\f192";
  }
  .timeline > li > .icon.done {
    color: #23b5af;
  }
  .timeline > li > .icon.done:before {
    content: "\f058";
  }
  .timeline > li > .icon.working {
    color: #eeba4c;
  }
  .timeline > li > .icon.working:before {
    content: "\f017";
  }

  @media (min-width: 576px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      padding-left: 0px;
    }
    .timeline > li .panel {
      width: 50%;
    }
    .timeline > li:not(:nth-child(even)) {
      padding-right: 90px;
    }
    .timeline > li:nth-child(even) {
      padding-left: 90px;
    }
    .timeline > li:nth-child(even) > :nth-child(even) {
      float: right;
    }
    .timeline > li > .icon {
      left: 50%;
    }
  }
</style>
